
{% include directory ~ '/templates/header.html.twig' %}
{#
<section id="content-3-3" class="content-block-nopad content-3-3">
  <div class="overlay overlay-blue">
    <div class="container text-center">
          {{ page.banner }}
    </div>
  </div>
</section>#}
<section id="content-3-3" class="content-block-nopad content-3-3">
  <div class="overlay overlay-blue">
    <div class="container text-center">
        <div id="block-calltoaction" class="">
          <div class="content dashboard_content">

            <div>
              <h1>Welcome to Chess9ja</h1>
              <p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; line-height: normal; font-family: '.SF UI Text'; color: rgb(240, 231,231);"><span style="font-family:'.SFUIText';font-size:17pt">Africa's largest online chess platform. Welcome to a world of strategic thinking.</span>
              </p>

              <p style="margin-top: 0px; margin-bottom: 0px; font-size: 17px; line-height: normal; font-family: '.SF UI Text'; color: rgb(240, 231,231);"><span style="font-family:'.SFUIText';font-size:17pt">Chess9ja is essentially an online community of chess players who are either playing for fun or for cash.</span>
              </p>

              <div class="col-md-6 col-md-offset-3 text-center">
                <div class="col-md-6"><a class="btn btn-block btn-outline btn-outline-lg outline-light" href="/about">Learn More</a></div>
				{#
                <div class="col-md-6"><a class="btn btn-block btn-outline btn-outline-lg outline-light" href="/user/login/">Play a Game</a></div>
				#}
				{% if logged_in %}
                <div class="col-md-6"><a href="/main" class="btn btn-block btn-outline btn-outline-lg outline-light">{{ 'Play a Game'|t }}</a></div>
              {% else %}
                <div class="col-md-6"><a href="{{ path('user.login') }}" class="btn btn-block btn-outline btn-outline-lg outline-light">{{ 'Play a Game'|t }}</a></div>
              {% endif %}
			  
			  
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>

</section>

<section>
  <div class="container-fluid">
    <div class="row">


      <!-- Featured News -->
      <div class="col-sm-6 featured-news">
        {{ page.main }}
          </div>
      <!-- End Featured News -->
      <!-- Latest News -->

      <div class="col-sm-3 latest-news">
        {{ page.sidebar_first }}
      </div>
      <div class="col-sm-3 latest-news">
        {{ page.sidebar_second }}
      </div>
    </div>
</div>
</section>

<section id="content-2-2" class="content-block content-2-2 bg-pomegranate">
  {#<div class="col-md-12" style="color: #fff;"><h2 class="text-center">Recent Blog Post</h2></div>#}
  <div class="container">
    <div class="row">
      {{ page. featured }}
      {#<div class="col-sm-4 col-xs-12 text-center">#}

        <div class="img-circle blog">
        </div>
        {#<h3>Make your ideas happen</h3>#}
        {#<p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>#}
        {#<a class="text-center btn btn-primary" href="#">Read More</a>#}

      {#</div>#}
      {#<div class="col-sm-4 col-xs-12 text-center">#}
          {#{{ page. featured_second }}#}
        {#<div>#}
          {#<img class="img-circle blog" src="http://localhost/chess/themes/chess9ja/images/chess-blog.png" />#}
        {#</div>#}
        {#<h3>Hands-on customer support</h3>#}
        {#<p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>#}
        {#<a class="btn btn-primary" href="#">Read More</a>#}

      {#</div>#}
      {#<div class="col-sm-4 col-xs-12 text-center">#}
                {#{{ page. featured_third }}#}
        {#<div>#}
          {#<img class="img-circle blog" src="http://localhost/chess/themes/chess9ja/images/chess-blog.png" />#}
        {#</div>#}
        {#<h3>Hand crafted, quality code</h3>#}
        {#<p>Etsy ethnic actually hella Odd Future meggings shabby chic leggings salvia master cleanse stumptown.</p>#}
        {#<a class="btn btn-primary" href="#">Read More</a>#}
      {#</div>#}

    </div>
    <!--// END Row -->
  </div>
</section>

{% include directory ~ '/templates/footer.html.twig' %}



